node_modules/
.env
ai-engine/ai/dataset/synthetic_data.csv
*.mp3
*.webp
*.tmp
temp_frames/
AI_Rural_Finance_Idea_Deck.pdf
frontend/public/AI_Rural_Finance_Idea_Deck.pdf
AI_Rural_Finance_Idea_Deck_White.pdf
frontend/public/AI_Rural_Finance_Idea_Deck_White.pdf
AI_Rural_Finance_Pitch_Deck.pdf
frontend/public/AI_Rural_Finance_Pitch_Deck.pdf
